
@{
    ViewData["Title"] = "AddForm";
}

<h1>AddForm</h1>

<form method="post" action="/product/add">
    Name: <input type="text" name="name" /><br />
    Description: <input type="text" name="description" /><br />
    Price: <input type="text" name="price" /><br />
    Inventory: <input type="number" name="inventory" /><br />
    Category: <input type="text" name="category" /><br />
    <input type="submit" value="Save" />
</form>
