@model List<Category>
@{
    ViewData["Title"] = "AddForm";
}

<h1>AddForm</h1>

<form method="post" action="/product/add">
    Name: <input type="text" name="name" /><br />
    Description: <input type="text" name="description" /><br />
    Price: <input type="text" name="price" /><br />
    Inventory: <input type="number" name="inventory" /><br />
    Category: 
    
        <select name="category">
            @foreach (Category cat in Model) {
                <option value="@cat.id">@cat.name</option>
            }
        </select>
    
    <br />
    <input type="submit" value="Save" />
</form>
